*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol, menu {
    list-style: none;
}
body{
    background-color: #F6F8F9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* HEADER */
.page-header{
    background-color: white;
    padding: 8px;
}

.logo{
    height: 65px;
    margin-left: 10px;
}

/* MAIN */
.content{
    padding: 45px;
}
.container{
max-width: 1600px;
margin: 0 auto;
}

.card{
    background-color: white;
    border-radius: 5px;
}

.button{
    padding: 5px;
    border-radius: 5px;
}

.button-unclicked{
    background-color: white;
}

.button-clicked{
    background-color: #15AAF5;
}

.card-header{
    border-bottom: solid lightgray;
    border-width: 1px;
    padding: 10px 45px;
}
.card-main{
    padding: 45px 45px 0 45px;
}
div span{
    display: inline-block;
}
.list{
    padding-bottom: 40px;
}

.list img{
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.list-symbol{
    font-size: 12px;
    margin-right: 7px;
    margin-left: 4px;
}
.list-subtitle{
    font-weight: bold;
    font-size: 20px;
}

.list-item{
    margin-top: 15px;
}
.category{
    color: white;
    font-size: 10px;
    border-radius: 12px;
    padding: 3px;
}

.editorial{
    background-color: #09A9EE;
}

.goals{
    background-color: #AB5DE6;
}

.recruiting{
    background-color: #2BC6AB;
}

.mobile{
    background-color: #FF9B00;
}

.website{
    background-color: #EC4A9D;
}

.sales{
    background-color: #A3D116;
}

